body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li span {
    color: white;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #575757;
}

.toggle-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.products, .cart, form {
    margin: 20px;
}

.products .product, .cart table {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.products .product img {
    max-width: 100px;
    margin-bottom: 10px;
}

.products .product h3, .products .product p {
    margin: 0;
}

.products .product button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.products .product button:hover {
    background-color: #575757;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    padding: 10px;
    margin-bottom: 10px;
}

form input[type="file"] {
    padding: 0;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #575757;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

td img {
    max-width: 50px;
}

#editModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

#editModal form {
    max-width: none;
}

#editModal h2 {
    margin-top: 0;
}

#editModal button {
    width: 100%;
}

#nav-ul.show {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .toggle-button {
        display: block;
    }
    
    nav ul {
        flex-direction: column;
        display: none;
    }
    
    nav ul.show {
        display: flex;
    }
    
    nav ul li {
        text-align: center;
    }
}